@color: #062084;
.setContainer(@w, @h, @m, @bc, @b, @c) {
    width: @w;
    height: @h;
    margin: @m;
    background-color: @bc;
    color: @c;
    border: @b;
}

body {
    .setContainer(100%, 100%, 0, black, none, @color);
    background-image: url(../images/sky.jpg);
    background-position: left top;
    background-size: cover;
    font-size: 14px;
}
.container {
    width:  100%;
    margin: 0;
    color: @color;
    min-height: 100%;
    user-select: none;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
}
.searchField {
    .setContainer(80%, 40px, 30px auto 10px auto, transparent, 1px solid darken(@color, 10%), inherit);
    display: flex;
    align-items: center;
    max-width: 1200px;
    border-radius: 20px; 
}
#enterQuery {
    .setContainer(70%, 30px, 0 auto 0 5%, transparent, 1px solid @color, lighten(@color, 20%));
    border-radius: 15px;
    padding: 0 0 0 10px;
    outline: none; 
    font-size: 14px;
    line-height: 20px;
}
#enterQuery::-moz-placeholder {
    color: lighten(@color, 20%);
}
#enterQuery:-ms-input-placeholder {
    color: lighten(@color, 20%);
}
#enterQuery::-webkit-input-placeholder {
    color: lighten(@color, 20%);
}
#enterQuery::-ms-expand {
    color: lighten(@color, 20%);
}
#searchButton {
    .setContainer(10%, 30px, 0 5% 0 5%, transparent, 1px solid @color, lighten(@color, 30%));
    border-radius: 15px;
    outline: none;
    line-height: 20px;
}
footer {
    .setContainer(100%, 30px, auto 0 0 0, transparent, none, inherit);    position: relative;
}
.pagination {
    .setContainer(190px, 30px, auto 0 0px -95px, transparent, none, inherit);
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
}
.prev,
.curr,
.next {
    .setContainer(50px, 20px, 4.5px 5px 0px 5px, transparent, 1px solid @color, lighten(@color, 30%));
    border-radius: 10px;
    outline: none;
}
.tooltip {
    .setContainer(20px, 20px, 0, transparent, none, @color);
    position: absolute;
    top: -25px;
    z-index: 100;
    border-radius: 5px;
    display: none;
    left: 0;
}
.resultContainer_results,
.resultContainer{
    .setContainer(100%, auto, auto, transparent, none, inherit);
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.resultContainer_resultItem {
    .setContainer(18%, auto, 5px 1%, transparent, none, inherit);
    position: relative;
    list-style: none;
}
.resultItem_img {
    .setContainer(98%, auto, 1%, transparent, 1px solid @color, inherit);
    border-radius: 10px;
}
.resultItem_descriptionBox {
    .setContainer(100%, auto, 5px 0, transparent, none, inherit);
}
.title_box {
    .setContainer(100%, 70px, 0, @color, none, white);
    opacity: 0.8;
}
.descriptionBox_title {
    text-align: center; 
    vertical-align: middle;
}
.descriptionBox_name {
    .setContainer(70%, 20px, 5px 0px 0 auto, @color, none, white);
    opacity: 0.8;
    text-align: center;
    line-height: 20px;
}
.descriptionBox_description {
    .setContainer(98%, auto, 10px 0, transparent, 1px solid @color, @color);
    border-radius: 10px;
    padding-left: 2%;
    font-weight: 700;
    min-height: 110px;
    word-break: break-word;
}
.descriptionBox_date {
    .setContainer(40%, auto, 0 4% , transparent, none, @color);
    display: inline-block;
}
.resultItem_descriptionBox a {
    .setContainer(40%, auto, 0  4%, transparent, none, @color);
    text-align: right;
    text-decoration: none;
    display: inline-block;
}



@media (max-width: 768px) {
    .searchField {
        width: 95%;
        margin-top: 5px;
    }
    .title_box {
        height: 50px;
    }
    
    .descriptionBox_description {
        min-height: 50px;
    }
}





